.loader-searches-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.search-hed {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: -30px;
}

.no-searches-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.s-hed-2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
}

.l-para-s {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #989898;
}

.img-s-n {
  height: 400px;
  width: 509px;
}

@media screen and (max-width: 768px) {
  .search-hed {
    display: none;
  }
  .l-para-s {
    font-size: 16px;
  }
  .s-hed-2 {
    font-size: 22px;
    margin-bottom: -10px;
  }
  .img-s-n {
    width: 90%;
    height: 250px;
  }
  .search-hed-d {
    display: none;
  }
}

.search-cont {
  background-color: black;
}

.search-white {
  color: white;
}

.search-hed-d {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-left: 200px;
  margin-bottom: -30px;
}
